@import "Tailwindcss";

/* share style */
.size{
  max-width: 1140px;
  margin: 0px auto;
  margin-bottom: 50px;
}

/* navbar style */
 .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  


 }

 .option{
  display: flex;
  gap: 48px;


}
 .option a{
  text-decoration: none;
 }
 .option  li{
  list-style: none;
 }
 .bold{
  font-weight: bold;
  font-size: 1rem;
  color:#252432 ;
 }
 .regular{
  font-weight: 400;
  font-size:1rem ;
  color:#8987A1 ;

 }
/* banner style */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.banner-text {
  flex: 1 1 300px;
  max-width: 570px;
  margin-top: 50px;
  /* margin-bottom: 13px; */
}

.banner-text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.banner-text .highlight {
  color: #ea580c; 
}

.banner-text p {
  margin-top: 20px;
  font-size: 1.375rem;
  color: #0000007c;
}
.picture {
  text-align: right;
}

.picture, img {
  max-width: 100%;
  height: auto;
}












/* ✅ Responsive Section */
/* ------------------------ */
@media (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

  }

  
  .image, .show{
    display: block;
  }
  .hide{
    display:none;
  } 

  .banner {
    flex-direction: column-reverse;
    text-align: left;
   
  }
  .banner-text {
    text-align: left;
    margin: 0 auto;
    padding: 10px;
  }

  .picture {
    text-align: right;
    width: 100%;
  }
}
